<%- include('ui/header', {tituloweb: 'CRM DEVCRAYON-ADMIN'}) %>

<div class="grid contenedor contenido-principal">
    <%- include('ui/menu.ejs') %>

    <main class="caja-contenido col-9">
        <h2 class="content-center">Bienvenido Administrador</h2>

        <a href="/clientes" class="btn btn-verde btn-block nvo-cliente"> <i class="fas fa-plus-circle"></i>
            Clientes
        </a>
    </main>
</div>


<%- include('ui/footer'); %>